* {
    text-align: center;
    line-height: 0;
    color: white;
}

canvas {
    opacity: 0.5;
    border: 1px solid black;
}

canvas:hover{
    opacity: 1;
    border: 1px dotted red;
    cursor: pointer;
}

body {
    background-color: black;
}

#left{
    margin-top: 20px;
    float: left;
    width: fit-content;
}

#right{
    float: right;
}

#right canvas{
    border: 1px dotted white;
    opacity: 1;
}

#right canvas:hover{
    border: 1px dotted red;
}

#textLeft{
    width: 416px;
    text-align: center;
}

#textRight{
    width: 1232px;
    text-align: center;
    float: right;
}