* {
    line-height: 0;
    color: white;
}

canvas {
    opacity: 0.5;
    border: 1px solid black;
}

canvas:hover {
    opacity: 1;
    border: 1px dotted red;
    cursor: pointer;
}

body {
    background-color: black;
}

#left {
    float: left;
    width: fit-content;
}

#right {
    float: right;
}

#right canvas {
    border: 1px dotted white;
    opacity: 1;
}

#right canvas:hover {
    border: 1px dotted red;
}

p.items {
    margin-left: 10%;
}

p.map {
    position: absolute;
    top: -10px;
    margin-left: 63%;
}

#selection {
    display: none;
    position: absolute;
    background-color: yellow;
    opacity: 0.5;
}